/* for header*/
.header {
    overflow: hidden;
    background-color: #283168;
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    color: white;
    font-family: 'Amita';
  }

  .icon {
   
    background: #db2f2f;
    color: white;
    min-width: 50px;
    text-align: center;
  }
  
  .header a:hover {
    background-color: rgb(66, 69, 121);
    color: white;
  }
  /*
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  */
  .header-right {
    float: right;
  }


  h2{
      padding-left: 5%;
  }

/* for table */


.movie-table table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-left:15%; 
    margin-right:15%;
    
    
  }
  
  .movie-table td, th {
    border: none;
    text-align: center;
    padding: 10px;
  }

  tbody>tr>:nth-child(1){
    
    width:600px;
    text-align:left;
   }

   /* for footer */
   .foot{
    float: none;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color:  #283168;
  }
  .foot p{
    padding-left: 2px;
    padding-top: 6px;
    margin: auto;
    color: white;
  }